.program{
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program-one img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program-one{
    flex-basis: 31%;
    position: relative;
}
.ctn{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 152, 13, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all;
}
.ctn img{
    width: 50px;
    margin-bottom: 10px;
}
.program-one:hover .ctn{
    opacity: 1;
    padding-top: 0;
}
@media (max-width:650px){
    .program{
        flex-direction: column;
    }
    .program-one{
        flex-basis: 100%;
        margin: 20px;
    }
}